html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.main-title {
    text-align: center;
    font-size: 1em;
    padding-top: 0.75em;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.2em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitle-colour{
    font-size: 0.8em;
    color: #595959;  
}

.main-nav-container{
    text-decoration: none;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    padding: 0%;
    text-align: center;
}

.main-nav-container a {
    text-decoration: none;
    color: black;
}

.main-nav-container a:hover {
    font-weight:bold;
    text-decoration: underline;
}

.main-nav-container li {
    list-style-type: none;
    padding: 1px;
}

.grid-container{
    max-width: 1200px;
    margin: 0 auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    padding-bottom: 1em;
  }

.hover-outline
{   outline : solid 0px #FF7062;
    
    
}

.hover-outline:hover {
    outline: solid 7.5px #FF7062;
}

.img-1{
    padding: 5px;
    grid-column: 1/4;
grid-row: 1/ -1;
}

.img-2{
    padding: 5px;
    grid-column: 4/7;
    grid-row: 1;
}

.img-3{
    padding: 5px;
    grid-column: 4/7;
    grid-row: 2;
}

.img-4{
    padding: 5px;
    grid-column: 1/7;
    grid-row: 3;
}

.img-5{
    padding: 5px;
    grid-column: 1/4;
    grid-row: 4;
}

.img-6{
    padding: 5px;
    grid-column: 4/7;
    grid-row: 4;
}

footer {
    background-color: #FF7062;
    padding: 10px;
    margin: auto;
}

.mmu-disclaimer {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
}

.footer-email {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    padding-top: 16px;
    font-size: 0.75em;
}

.footer-content {
    display: flex;
}

.linkedin-logo {
    width: 20%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
  }

@media screen and (min-width:750px)  {

    .main-title{
    font-size: 2em;
    }
    .subtitle-colour{
    font-size: 1em;
    display: inline ;
    }
    .main-nav-container{
        display: flex;
        justify-content: space-evenly;
        font-size: 1.8em;
    }
  
    
    .linkedin-logo {
        width: 10%;
        height: auto;
    }

    .footer-email {
        padding-top: 35px;
    }

    .photo-grid {
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(2,1fr);
       
      }

    .img-1{
        grid-column: 1/4;
    grid-row: 1/ -1;
    }
    
    .img-2{grid-column: 4/7;
        grid-row: 1;}
    
    .img-3{grid-column: 4/7;
        grid-row: 2;}
    
    .img-4{grid-column: 7/13;
        grid-row: 1/-1;}
    
    .img-5{grid-column: 7/10;
        grid-row: 2;}
    
    .img-6{grid-column: 10/13;
        grid-row: 2;}

    .hover-outline:hover {
            outline: solid 12px #FF7062;
        }

  }



/*
font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

a:link    {font-weight:bold;} /*normal state*/
/*a:visited {font-weight:bold;} /*for already visited links*/
/*a:hover   {font-weight:bold;} /*mouseover*/
/*a:active  {font-weight:bold;}

.navbar {
      overflow: hidden;
      position: relative;
      padding-bottom: 0.75em;
      
}

.navbar #hidden-nav-items {
    display: none;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    display: block;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding-top: 0.2em;
    letter-spacing: 0.1em;
}

.active {
} 

.navbar a:hover {
    font-weight:bold;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding-bottom: 0.75em;
}

.img-column-left {
    flex: 50% 0 0 ;
}

.img-column-right {
    flex: 50% 0 0 ;
}   

.img-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}